{% extends "base.html" %}
{% load static %}
{% block title %} {{ page }} {% endblock title %}

{% block content %}

    <!-- Teams 8 -->
    <section class="fdb-block team-8">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-8">
              <h1>Últimas personas agregadas</h1>
              <!--p class="lead">
                A small river named Duden flows by their place and supplies it with the necessary regelialia. 
                It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
              </p-->
            </div>
          </div>
      
          <div class="row-100"></div>
      
          <div class="row justify-content-center text-left">
            {% for persona in lista_personas %}
            <div class="col-sm-6">
              <div class="row align-items-center">
                <div class="col-4">
                  <img alt="image" class="img-fluid rounded" src="{% static 'img/' %}{{ persona.imagen }}">

                </div>
      
                <div class="col-8">
                  <h3><strong>{{ persona.nombre_completo }}</strong></h3>
                  <p class="lead">Fecha nac: {{ persona.fecha_nacimiento }}</p>
                  <p>Cédula identidad: {{ persona.cedula_identidad }}</p>
                  <h4>Biografía</h4>
                  <p>{{ persona.observaciones }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
      
          </div>
      
        </div>
      </section>
  

{% endblock content %}


